Devices
<div class="md-device-wrapper" 
    style="-webkit-transform: scale(0.25) translateX(-75%) translateY(10%);
            -moz-transform: scale(0.25) translateX(-75%) translateY(10%);
            -ms-transform: scale(0.25) translateX(-75%) translateY(10%);
            transform: scale(0.25) translateX(-75%) translateY(10%);

            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;

            left: 50%;">
    <div class="md-device md-device-1">
        <div class="display">
            1000x500
        </div>
        <div class="md-border-element"></div>
        <div class="md-base-element"></div>
    </div>
</div>
<div class="md-device-wrapper"
    style="-webkit-transform: scale(0.25) translateX(-75%) translateY(10%);
            -moz-transform: scale(0.25) translateX(-75%) translateY(10%);
            -ms-transform: scale(0.25) translateX(-75%) translateY(10%);
            transform: scale(0.25) translateX(-75%) translateY(10%);

            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            
            left: 50%;">
    <div class="md-device md-device-2">
        <div class="display"></div>
        <div class="md-border-element"></div>
        <div class="md-base-element"></div>
    </div>
</div>
<div class="md-device-wrapper"
    style="-webkit-transform: scale(0.25) translateX(-75%) translateY(50%);
            -moz-transform: scale(0.25) translateX(-75%) translateY(10%);
            -ms-transform: scale(0.25) translateX(-75%) translateY(10%);
            transform: scale(0.25) translateX(-75%) translateY(10%);

            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
            top:50%;
            left: 50%;">
    <div class="md-device md-device-3">
        <div class="display"></div>
        <div class="md-border-element"></div>
        <div class="md-base-element"></div>
    </div>
</div>
<div class="md-device-wrapper"
    style="-webkit-transform: scale(0.25) translateX(-75%) translateY(10%);
            -moz-transform: scale(0.25) translateX(-75%) translateY(10%);
            -ms-transform: scale(0.25) translateX(-75%) translateY(10%);
            transform: scale(0.25) translateX(-75%) translateY(10%);

            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;

            left: 50%;">
    <div class="md-device md-device-4">
        <div class="display"></div>
        <div class="md-border-element"></div>
        <div class="md-base-element"></div>
    </div>
</div>
