<div class="container">
    <!-- a low-tech hack for pre-loading the images -->
    <div class="preload" style="overflow: hidden; width: 0px; height: 0px">
        <img src="/static/img/images/site1.jpg" />
        <img src="/static/img/images/site2.jpg" />
        <img src="/static/img/images/site3.jpg" />
        <img src="/static/img/images/site3r.jpg" />
        <img src="/static/img/images/site4.jpg" />
        <img src="/static/img/images/site4r.jpg" />
    </div>
    <div class="btn-group btn-group-justified">
        
    </div>
    <div class="main clearfix">
            <div class="md-device-wrapper">
                <div class="md-device md-device-1">
                    <div class="display" id="container"></div>
                    <!--<a href="#"><img src="/static/img/images/site1.jpg" /></a>-->
                    <div class="md-border-element"></div>
                    <div class="md-base-element"></div>
                </div>
        </div>
    </div>
</div><!-- /container -->