<div class="row-fluid">
    <div id="operations" class="span3">
      <!--Sidebar content-->
    </div>
    <div id="image" class="span7">
      <!--Body content-->
    </div>
    <div id="layers" class="span2">
      <!--Body content-->
    </div>
</div>
