  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse navbar-fidex-top" role="navigation">
      <ul class="nav navbar-nav">
        <li <% if (tab === "conversations") { %> class="active"<% } %> ><a href="/conversations">Talks</a></li>
        <li <% if (tab === "friends") { %> class="active"<% } %> ><a href="/friends">Buddies</a></li>
      </ul>
      <p class="navbar-text pull-right">
        <a href="/users/sign_out">Sign Out</a>
      </p>
    </nav>
  </div>
