<div class="btn-group btn-group-justified">
    <a class="btn btn-default" id="btnApply" data-id="<%= id %>" role="button">Apply</a>
    <a class="btn btn-default" id="btnSelect" data-id="<%= id %>" href="/select/<%= id %>" role="button">Select</a>
</div>

<div id="container"></div>