<form method="post">
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <div class="checkbox">
        <label>
            <input name="remember" type="checkbox" value="Remember Me" checked> Remember Me
        </label>
    </div>
    <input type="submit" value="Sign in">
    <a href="/register">
        "Don't have an account?"
        <span>Sign up </span>
    </a>
</form>