<div class="accordion" id="accordion2"> Operations
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Layer
            </a>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                <form role="form">
                    <div class="form-group">
                        <input class="form-control" id="resizeInputWidth" type="number" min=1 max="<%= initialWidth %>" step=1 value="<%= currentWidth %>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" id="resizeInputHeight" type="number" min=1 max="<%= initialHeight %>" step=1 value="<%= currentHeight %>">
                    </div>
                    <div class="checkbox">
                        <label>
                          <input type="checkbox"> Keep Ratio
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                Smart Shape
            </a>
        </div>
        <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
                rotate inner
            </div>
        </div>
    </div>
    <!--
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              Crop
            </a>
        </div>
        <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              crop inner
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              Compose
            </a>
        </div>
        <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              compose inner
            </div>
        </div>
    </div>
  -->  
</div>