<form method="post">
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="password" name="confirm_password" placeholder="Confirm Password"><br>
    <input type="submit" value="Sign up">
    <a href="/login">
        "Already have an account?"
        <span>Sign in</span>
    </a>
</form>