<form action="" method=post role="search">
    <div class="input-append">
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            All Images 3
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
                <a href="#">Others</a>
            </li>
            <li>
                <a href="#">Mine</a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">Assets</a>
            </li>
            <li>
                <a href="#">PNG</a>
            </li>
            <li>
                <a href="#">JPG</a>
            </li>
            <li>
                <a href="#">SVG</a>
            </li>
          </ul>
        </div>
        <input class="form-control" type="text" id="search" placeholder="Search">
        <button type="submit" class="btn btn-default"><span class="icon-search"></button>
    </div>
</form>


