<div class="row-fluid" >
    <div id="devices" class="span3" style="overflow-y:scroll;">
      <!--Sidebar content-->
    </div>
    <div id="device" class="span9">
      <!--Body content-->
    </div>
</div>
