
<div class="list-group">
    <a class="list-group-item" href="<%= new_friend_path%>">
    	<h4 class="list-group-item-heading">Add Friend</h4>
    </a>
</div>

<% @friendships.each do |f| %>
<div class="panel">
    <div class="panel-heading clearfix">
    	<%=  link_to f.friend.name, new_conversation_path( to: f.friend.number )%>
    	<div class="btn-group pull-right">
    	<%= button_to "Delete", friend_path(f.id), :method => :delete, class: "btn btn-danger btn-sm", :data => { :confirm => 'Are you sure?' } %>
    </div>
    </div>
    </div>
<% end %>
