<div class="container center_div">
	<%= form_for @message, url: conversations_path, html: { multipart: true } do |form| %>
	    <label hidden="true">To: </label>
        <%= hidden_field :conv, :to, value: @to %>
	    <%= form.file_field :file %>
	    <br>
	    <div>
	    <%= form.submit 'Send', class: 'btn btn-primary btn-lg' %>
		</div>
	<% end %>
</div>
