<ul class="list-group">
<% @conversations.each do |c| %>
     <li class="list-group-item" href="<%= conversation_path(c.id) %>">
     	<%= link_to friend_name(c), conversation_path(c.id) %>
        <% unless c.user_conversations.find_by_user_id(current_user.id).read %>
     	    <span class="badge"><span class="glyphicon glyphicon-exclamation-sign"></span></span>
        <% end %>
     </li>
<% end %>
</ul>
