<ul class="list-group">
<% @conversations.each do |c| %>
     <li class="list-group-item" href="<%= conversation_path(c.id) %>">
     	<%= friend_name(c) %>
     	<span class="badge">42</span>
     </li>
<% end %>
</ul>
